@font-face {font-family:"BandaRegular";src:url("regular-.eot") format("eot"),url("regular.woff") format("woff"),url("regular.ttf") format("truetype"),url("regular.svg#BandaRegular") format("svg");font-weight:normal;font-style:normal;}
@font-face {
    font-family: 'elephantregular';
    src: url('elephnt-webfont.eot');
    src: url('elephnt-webfont-.eot#iefix') format('embedded-opentype'),
         url('elephnt-webfont.woff') format('woff'),
         url('elephnt-webfont.ttf') format('truetype'),
         url('elephnt-webfont.svg#elephantregular') format('svg');
    font-weight: normal;
    font-style: normal;

}